@model FileClassifier.JobManager.REST.Models.HomeDashboardModel

<h3>Hosts</h3>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col"># Cores</th>
            <th scope="col">Platform</th>
            <th scope="col">Worker Version</th>
            <th scope="col">Last Connected</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var host in Model.Hosts)
        {
        <tr>
            <td>@host.Name</td>
            <td>@host.NumCores</td>
            <td>@host.OSVersion</td>
            <td>@host.WorkerVersion</td>
            <td>@host.LastConnected</td>
        </tr>
        }
    </tbody>
</table>

<hr />

<h3>Jobs</h3>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Submit Time</th>
            <th scope="col">Completed?</th>
            <th scope="col">Download</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model.Jobs)
        {
            <tr>
                <th scope="row">@job.ID</th>
                <td>@job.Name</td>
                <td>@job.SubmissionTime</td>
                <td>@job.Completed</td>
                @if (job.Model == null)
                {
                    <td>Not Finished Yet</td>
                }
                else
                {
                    <td><a href="Download?id=@job.ID">Download</a></td>
                }
            </tr>
        }
    </tbody>
</table>